.finance-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
  background: transparent;
}

.finance-symbol {
  position: absolute;
  font-size: 84px;
  color: #00c6ff;
  opacity: 0.4;
  z-index: 1;
} 